#menu{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#menu li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
    padding: 1%;
}

#menu li:hover{
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #00bff0;
    font-weight: bold;
}